.border{
    border: 0.7px solid rgba(245, 245, 245, 0.594);
    margin: 3px;
}

hr{
    color: gray;
    border: 1px solid rgb(0, 0, 0);
}
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.items-center{
    align-items: center;
}

.bg-box{
    background-color: rgba(245, 245, 245, 0.58);
    color: black;
}

.rounded{
    border-radius: 7px;
}
.r2{
    border-radius: 7px 0;
}

.m1{
    margin: 2px;
}
.m2{
    margin: 1rem;
}
.p1{
    padding: 0.2rem;
}
.p2{
    padding:0.3rem;
}

.right-p{
    padding-right: 20px;
}

/* scroll bar styling */

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background:linear-gradient(to right, #b2023d, #05101c );
}

::-webkit-scrollbar-thumb {
    background-color: #ff0000;
    border: 3px solid #1e1e1e;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #888;
}

/* scroll bar styling end  */